* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.name {
  color: white;
}

.header-photo {
  max-width: 200px;
}

.socials-icon {
  width: 32px;
}

.project-card {
  max-width: 220px;
  box-shadow: 2px 2px 8px grey;
  display: grid;
}

.project-card > .details-container {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "screenshot"
    "title-line"
    "description";
}

.project-card > .details-container > .title-line {
  grid-area: title-line;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card > .details-container > .project-description {
  grid-area: description;
}

.project-card-icon {
  width: 24px;
}

.project-screenshot {
  max-width: 220px;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid black;
}

.contact-icon {
  width: 16px;
  filter: invert(); /* invert black -> white */
}

header {
  background: #0891b3;
}

main {
  display: grid;
  grid-template-areas: "section-title section-title section-title";
  gap: 2rem;
}

main > .section-title {
  grid-area: section-title;
}

footer {
  background: #0891b3;
  color: white;
}

.footer-photo {
  max-width: 360px;
}
