* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.socials-icon {
  width: 32px;
}

.about-wrapper {
  display: grid;
  grid-template-areas: "photo about";
  align-items: center;
}

.about-wrapper > .header-photo {
  max-height: 600px;
  object-fit: contain;
  grid-area: photo;
  justify-self: right;
  margin: 2rem 0;
  z-index: 1;
}

.about-wrapper > .name {
  grid-area: photo;
  color: white;
  position: relative;
  top: 16.4rem;
  left: -2.5rem;
  justify-self: right;
  transform: scaleY(1.1);
  letter-spacing: 2px;
  text-shadow: 1px 1px 6px #3b3b3b;
  font-size: 3.2rem;
  z-index: 2;
}

.about-wrapper > .about-container {
  background: white;
  grid-area: about;
  justify-self: left;
  padding: 2rem 1rem;
  max-width: 720px;
  min-width: 320px;
}

.about-card {
  line-height: 1.5rem;
}

.about-card > .links-line {
  display: flex;
  justify-content: right;
  gap: 0.6rem;
}

.box-shadow {
  box-shadow: 1px 1px 7px #1f1f31;
}

.project-card {
  max-width: 480px;
  display: grid;
}

.project-card > .details-container {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "screenshot"
    "title-line"
    "description";
}

.project-card > .details-container > .title-line {
  grid-area: title-line;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card > .details-container > .project-description {
  grid-area: description;
}

.project-card-icon {
  width: 24px;
}

.project-screenshot {
  max-height: 480px;
  overflow: hidden;
  object-position: center;
  object-fit: cover;
  border-bottom: 1px solid black;
}

.contact-icon {
  width: 16px;
  filter: invert(); /* invert black -> white */
}

header {
  position: relative;
  background: transparent;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0891b3;
  transform: skewY(-11deg);
  transform-origin: top left;
  z-index: -1;
  box-shadow: 1px 1px 7px #1f1f31;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 3rem;
  justify-content: center;
  gap: 1rem;
}

main > .section-title {
  grid-area: section-title;
}

.projects-container {
  display: flex;
}

.section-title {
  font-size: 2.2rem;
}

footer {
  background: #0891b3;
  color: white;
}

.footer-photo {
  max-width: 360px;
}
