html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.socials-icon {
  width: 50px;
  filter: brightness(0%);
}

.project-card-icon {
  width: 32px;
}

.contact-icon {
  width: 32px;
  filter: invert(); /* invert black -> white */
}

/* header {
  position: relative;
  background: transparent;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0891b3;
  transform: skewY(-11deg);
  transform-origin: top left;
  z-index: -1;
  box-shadow: 1px 1px 7px #1f1f31;
} */

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.background-slanted {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background: transparent;
}

.background-slanted::before {
  content: "";
  position: absolute;
  top: -10vw;
  left: -6vw;
  width: 100vw;
  height: 100%;
  background: #0891b3;
  transform: skewY(-32deg);
  transform-origin: top left;
  z-index: -1;
  box-shadow: 1px 1px 7px #1f1f31;
  margin: 0;
}

.background-slanted > .photo-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.photo-container > .header-photo {
  display: block;
  width: 100%;
  object-fit: contain;
  margin: 2rem 0;
  box-shadow: 1px 1px 7px #1f1f31;
}

.photo-container > .name {
  color: white;
  position: absolute;
  margin: 0;
  bottom: 36px;
  right: 0;
  left: 2vw;
  text-align: left;
  transform: scaleY(1.1);
  letter-spacing: 2px;
  text-shadow: 0px 2px 3px #5e5e5b;
  font-size: clamp(1rem, 3vw, 3.2rem);
}

.about-wrapper > .about-container {
  background: white;
  padding: 2rem 1rem;
  max-width: 100%;
  height: 100%;
  box-shadow: 1px 1px 7px #1f1f31;
}

.about-card {
  overflow: auto;
}

.about-card > .description {
  line-height: 2rem;
  font-size: 1.3rem;
}

.description,
.project-description {
  color: #585858;
}

.about-card > .links-line {
  display: flex;
  justify-content: right;
  gap: 0.6rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  gap: 1rem;
}

.section-title {
  display: block;
  font-size: 3rem;
  margin-bottom: 0;
}

.project-title {
  font-size: 1.5rem;
  margin: 0;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card {
  width: 100%;
  display: grid;
  place-items: center;
  box-shadow: 1px 1px 7px #1f1f31;
}

.project-card > .screenshot-container {
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-screenshot {
  max-height: 480px;
  object-fit: cover;
}

.project-card > .details-container {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "screenshot"
    "title-line"
    "description";
}

.project-card > .details-container > .title-line {
  grid-area: title-line;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card-icon {
  margin-left: 6px;
}

.project-card > .details-container > .project-description {
  grid-area: description;
}

footer {
  background: #0891b3;
  color: white;
}

.contact-container {
  overflow: auto;
}

.contact-container > .line {
  display: flex;
  align-items: center;
  gap: 12px;
}

.line > .contact-text {
  margin: 8px;
}

.contact-container > .links-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

h3.contact-text {
  font-size: 1.6rem;
}

p.contact-text {
  font-size: 1rem;
}

.footer-photo {
  display: block;
  width: 100%;
}

/* Desktop size */
@media (min-width: 1201px) {
  .about-wrapper,
  main {
    margin: 0 18vw 1vh; /* TODO: adjust values */
  }
  .contact-container {
    margin: 0 18vw; /* TODO: adjust values */
  }
}

/* Tablet size */
@media (min-width: 601px) and (max-width: 1200px) {
  .about-wrapper,
  main {
    margin: 0 18vw 1vh; /* TODO: adjust values */
  }
  .contact-container {
    margin: 0 18vw; /* TODO: adjust values */
  }
}

/* Mobile size */
@media (max-width: 600px) {
  .about-wrapper {
    margin: 0 6vw 60px;
  }
  main {
    margin: 0 6vw 200px;
  }
  .section-title {
    text-align: center;
  }
  .about-wrapper .photo-container {
    margin: 0 3vw;
  }
  .photo-container > .name {
    font-size: 18vw;
    width: 100%;
  }
  .about-wrapper > .about-container {
    padding: 0;
    box-shadow: none;
  }
  .about-card > .section-title {
    margin: 10px;
  }
  .about-card > .links-line {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
  }
  .projects-wrapper {
    gap: 10vw;
  }
  .contact-wrapper > .photo-container {
    width: 100%;
  }
  .contact-container {
    margin: 0 6vw;
  }
  .contact-icon {
    display: none;
  }
  h3.contact-text {
    font-size: 1.3rem;
  }
  .line > .contact-text {
    margin: 6px 0;
  }
  .contact-container > .links-line {
    margin: 30px 0 100px;
  }
} /* TODO: Fix project images and make them responsive. */
